body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.orange-color {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.half-width p {
    padding-right: 120px;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(251, 171, 21), rgb(250, 80, 50));
    color: #ffffff;
}

.top-banner {
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 85%;
}